<h2>Step 1: Find piece by text</h2>

Enter the location of the HTML document and (part of) the text you want to track.

<% form_tag find_xpath_path, :method => :get, :class => 'cmxform' do -%>

<ul>
 <li><label for="name">URI </label><%= text_field_tag 'uri', @uri, :size => 80 %></li>
 <li><label for="q">Find text</label><%= text_field_tag 'q', @q, :size => 80 %> </li>

 <li><%= submit_tag 'Find again' %></li>
</ul>

<% end -%>


<% if flash[:hint] %>
  <p class='hint'><strong><%= flash[:hint] %></strong></p>
<% end %>


<% if flash[:error] %>
<p class='error'><strong><%= flash[:error] %></strong></p>
<% else %>

<%= error_messages_for :tracker %>



<% if @hits && !@hits.empty? %>
<p class='hit'><strong><%= @hits.size %> elements have been found:</strong>
Please choose one and poceed.
</p>

<ol class='hitlist'>

<%- @hits = @hits.sort_by{|h| h.inner_text.length}%>

<% for hit in @hits %>
 <li> 
  <%= render :partial => "proceed_with_hit", :locals => { :hit => hit } %>
 </li>
<% end %>

</ol>

<% else %>

<p class='nohit'><strong>No elements have been found:</strong>
Try adjusting your search term.</p>
<% end %>

<% end # if flash['error'] %>
