<h2>Step 1: Find piece by text</h2>


<% form_tag find_xpath_path, :method => :get, :class => 'cmxform' do -%>

<ul>
 <li><label for="name">URI </label><%= text_field_tag 'uri', @uri, :size => 80 %></li>
 <li><label for="q">Find text</label><%= text_field_tag 'q', @q, :size => 80 %> </li>

 <li><%= submit_tag 'Find again' %></li>
</ul>

<% end -%>



<p style="color: red"><%= flash[:error] %></p>
<p style="color: green"><%= flash[:notice] %></p>
<p style="color: yellow"><%= flash[:hint] %></p>

<%= error_messages_for :tracker %>



<% if @hits %>
<p style="color: green"><%= @hits.size %> elements found:</p>


<ol class='hitlist'>

<%- @hits = @hits.sort_by{|h| h.inner_text.length}%>

<% for hit in @hits %>
<li> 
	<a href='<%=  url_for(:action => 'test_xpath', :uri => @uri, :xpath => hit.xpath)  %>'>Proceed</a>

<span>with <%= h(hit.xpath) %></span>
<pre class='piece'>
<%= Piece.tidy_text(hit.inner_text).gsub(/(#{Regexp.escape(@q)})/i, "<strong class='highlightsearch'>\\1</strong>") %>
</pre>


</li>

<% end %>
</ol>
<% end %>

