<h2>Step 1: Find piece by text</h2>

<p>Enter the location of the HTML document and (part of) the text you want to track.</p>

<%= render :partial => 'find_xpath_form', 
           :locals => { :q => @q, :uri => @uri } %>

<% if flash[:hint] %>
  <p class='hint'><strong><%= flash[:hint] %></strong></p>
<% end %>


<% if flash[:error] %>
<p class='error'><strong><%= flash[:error] %></strong></p>
<% else %>

<%= error_messages_for :tracker %>



<% if @hits && !@hits.empty? %>
<div class="flash">
  <div class="message notice">
    <p><%= @hits.size %> elements have been found.</p>
  </div>
</div>

<ol class='hitlist'>

<%- @hits = @hits.sort_by{|h| h.inner_text.length}%>

<% for hit in @hits %>
 <li> 
  <%= render :partial => "proceed_with_hit", :locals => { :hit => hit } %>
 </li>
<% end %>

</ol>

<% else %>
<div class="flash">
  <div class="message error">
    <p>No elements have been found matching <i><%= @q %></i></p>
  </div>
</div>
<% end %>

<% end # if flash['error'] %>
