
<h2>What is it?</h2>

<p>
Monitoring complete webpages is easy. But have you ever wanted to track just a single piece of information from a webpage, like a <strong>product price</strong> or the <strong>headline</strong> of your favorite news site which does not provide an RSS feed? 
</p>

<p>
Trakkor lets you create a tracker for just a <strong>single DOM element</strong> and informs you via Atom feed if it changes.
</p>

<%= error_messages_for :tracker %>

<% 
 example_uri ='http://localhost:8808/doc_root/libxml-ruby-0.5.3/rdoc/classes/XML/Node.html' 
 example_uri ='http://better-idea.org'
 example_search = 'email'
-%>


<h2>Try tracking</h2>
<p>Enter a Webpage address and the text you want to track.</p>
<%= render :partial => 'find_xpath_form', 
           :locals => { :q => example_search, :uri => example_uri } %>


<h2>Live examples</h2>

<table class='examples'>

<% for tracker in @trackers %>
  <tr>

    <td><a href="<%= "#{url_for(tracker)}.atom" %>"><%= image_tag("04.png", :alt => "Tracker Feed for #{tracker.uri}") %></a></td>
    <td><%= link_to "#{tracker.name}", tracker_path(tracker) %></td>
    <td class='piece'><%= tracker.last_change.text %></td>
    <td>updated <span class='change_time'> <%= time_ago_in_words tracker.last_change.created_at %></span> ago</td>
  </tr>
<% end %>


<!--
  <tr>
   <td></td>
   <td colspan="2"><%= link_to "more...", { :action => "examples" } %> </td>
  </tr>
!-->
</table>

<br />

<h2>What is it not?</h2>
<p>
Trakkor is just a change tracker for single web page elements which happens to present its findings via Atom feeds. That is what it's good at.
</p>

But Trakkor is certainly...

<ul>
  <li>...not a tool to create Atom feeds for web sites which don't publish an Atom feed but probably should.</li>
  <li>...not good at recognizing the structure of the HTML pieces it scrapes out of a document. That's why it treats those pieces as raw strings: If one character changes, it differs for Trakkor.</li>
</ul>

It's really just a change tracker, believe me. But as always, your mileage may vary.

<h2>Web Hooks</h2>
<p>Web Hooks provide a simple hook mechanism for the Web. By using HTTP POST and a serialization format like <a href='http://www.json.org' target='_blank'>JSON</a> a web service may inform another via its Web Hook. You can find more information on the <a href='http://webhooks.pbwiki.com/' target='_blank'>Web Hooks Wiki</a>
</p>

<p>
<%= link_to "Trakkor allows you to define a Web Hook", {:action => 'web_hook'} %> for your tracker that will be triggered on every change. Your custom Web Hook may send you an email or Jabber message or log the changes to a custom log file format, whatever you implement.
</p>

<h2>FAQ</h2>

 <ul id='faq'>

 <li>

<div class='q'>
How often is a webpage checked for changes?
</div>

<div class='a'>
Currently each page is checked every 30 minutes.
</div>

</li>
   <li><div class='q'>Have animals or software tools been hurt during the creation of Trakkor?</div>

   <div class='a'>Trakkor is written in <a href='http://ruby-lang.org' target='_blank'>Ruby</a> and uses <a href='http://rubyonrails.com' target='_blank'>Ruby on Rails</a>. Behind the scenes cron, <a href='http://www.sqlite.org' target='_blank'>SQLite</a> and <a href='http://code.whytheluckystiff.net/hpricot/' target='_blank'>Hpricot</a> are heavily abused, but certainly not hurt. No animals have been hurt.</div>
</li>


<li>
<div class='q'>
Are the any tools that might help me find a fitting XPath if Trakkor doesn't cut it?
</div>
    <div class='a'>Finding an appropriate XPath that selects the desired element can be difficult: I suggest using either the <a href="https://addons.mozilla.org/en-US/firefox/addon/1192">XPather</a> or <a href="https://addons.mozilla.org/en-US/firefox/addon/1095">XPath Checker</a> Firefox plugins. Both allow you to right-click a page element and give you an XPath that describes it. But please bear in mind that some of the XPathes created by these tools (e.g. the id() function) are not understood by Trakkor's Hpricot library, see <a href='http://code.whytheluckystiff.net/hpricot/wiki/SupportedXpathExpressions' target='_blank'>Supported XPath Expressions</a> for details.</div>
</li>

 </ul>
