
<h2>What is it?</h2>

<p>
Monitoring complete webpages is easy. But have you ever wanted to track just a single piece of information from a webpage, like a <strong>product price</strong> or the <strong>headline</strong> of your favourite news site which does not provide an RSS feed? 
</p>

<p>
Trakkor lets you create a tracker for just a <strong>single DOM element</strong> and informs you via Atom feed if it changes.
</p>

<%= error_messages_for :tracker %>

<% 
 example_uri ='http://localhost:8808/doc_root/libxml-ruby-0.5.3/rdoc/classes/XML/Node.html' 
 example_uri ='http://better-idea.org'
 example_search = 'email'
-%>


<h2>Try tracking</h2>
<p>Enter a Webpage address and the text you want to track.</p>
<%= render :partial => 'find_xpath_form', 
           :locals => { :q => example_search, :uri => example_uri } %>


<h2>Live examples</h2>

<table class='examples'>

<% for tracker in @trackers %>
  <tr>

    <td><a href="<%= "#{url_for(tracker)}.atom" %>"><%= image_tag("04.png", :alt => "Tracker Feed for #{tracker.uri}") %></a></td>
    <td><%= link_to "#{tracker.name}", tracker_path(tracker) %></td>
    <td class='piece'><%= tracker.last_change.text %></td>
    <td>updated <%= relative_time(tracker.last_change.created_at) %></td>
  </tr>
<% end %>


<!--
  <tr>
   <td></td>
   <td colspan="2"><%= link_to "more...", { :action => "examples" } %> </td>
  </tr>
!-->
</table>

<br />

<h2>What is it not?</h2>
<p>
Trakkor is just a change tracker for single web page elements which happens to present its findings via Atom feeds and Jabber messages. That is what it's good at.
</p>

But Trakkor is certainly...

<ul>
  <li>...not a tool to create Atom feeds for web sites which don't publish an Atom feed but probably should.</li>
  <li>...not good at recognizing the structure of the HTML pieces it scrapes out of a document. That's why it treats those pieces as raw strings: If one character changes, it differs for Trakkor.</li>
</ul>

It's really just a change tracker, believe me. As always, your mileage may vary.

<h2>Caveats</h2>

Finding an appropriate XPath that describes the desired page element page can be difficult and is the trickiest part of using Trakkor: I suggest using either the <a href="https://addons.mozilla.org/en-US/firefox/addon/1192">XPather</a> or <a href="https://addons.mozilla.org/en-US/firefox/addon/1095">XPath Checker</a> Firefox plugins. Both allow you to right-click a page element and give you an XPath that describes it. 

<h2>FAQ</h2>

 <ul id='faq'>
   <li class='q'>I try to fetch the //head/style element but cannot fetch the content.</li>
   <li class='q'>Were animals or software tools hurt during the creation of Trakkor?</li>
   <li class='a'>Trakkor is written in <a href='http://ruby-lang.org' target='_blank'>Ruby</a> and uses <a href='http://rubyonrails.com' target='_blank'>Ruby on Rails</a>. Behind the scenes cron, <a href='http://www.sqlite.org' target='_blank'>SQLite</a> and <a href='http://code.whytheluckystiff.net/hpricot/' target='_blank'>Hpricot</a> are heavily abused, but certainly not hurt. No anmials have been hurt.</li>
 <ul>
