<h2>What is it?</h2>
<p>Change tracking of single web page elements and notification via Atom feed, that is what Trakkor provides. Completely free.</p>
<p>Monitoring complete web pages is easy. But have you ever wanted to track just a single
piece of information from a web page, like a product price or the headline of your
favorite news site which does not provide an RSS feed?
</p>

<p>
Trakkor lets you create a tracker for just a single DOM element given
by an XPath and informs you via Atom feed if it changes.
</p>

<%= error_messages_for :tracker %>

<% 
 example_uri ='http://slashdot.org'
 example_search = 'votes'
-%>


<h2>Try tracking</h2>
<p>Enter a web page address and the text you want to track.</p>
<%= render :partial => 'find_xpath_form', 
           :locals => { :q => example_search, :uri => example_uri } %>

<h2>Live examples</h2>

<table class='examples'>
<% for tracker in @trackers %>
  <tr>
    <td><a href="<%= "#{url_for(tracker)}.atom" %>"><%= image_tag("feed-icon-tiny.png", :alt => "Tracker Feed for #{tracker.uri}") %></a></td>
    <td><%= link_to "#{tracker.name}", tracker_path(tracker) %>
      <br/><span class='change_time'>discovered  <%= timeago(tracker.last_change.created_at) %></span>
    </td>
    <td class='piece'><%= htidy tracker.last_change.text %></td>
  </tr>
<% end %>
</table>

<br />

<h2>What is it not?</h2>
<p>
Trakkor is just a change tracker for single web page elements which happens to present its findings via Atom feeds. That is what it's good at.
</p>

<p>But Trakkor is not good at recognizing the structure of the HTML pieces it scrapes out of a document. That's why it treats those pieces as raw strings: If one character changes, it differs for Trakkor.</p>

<p>And Trakkor is probably not the tool you should use if you want to create Atom feeds for web sites which don't publish an Atom feed but perhaps better should.</p>

<p>It's really just a very simple change tracker, believe me. Just try it out and see if it suits you.</p>

<h2>Web Hooks</h2>
<p>Web Hooks provide a simple hook mechanism for the Web. By using HTTP POST and a serialization format like JSON a web service may inform another via its Web Hook. You can find more information on the <a href='http://webhooks.pbworks.com/'>Web Hooks Wiki</a>.
</p>

<p>
Trakkor allows you to define a Web Hook for your tracker that will be triggered on every change. Your custom Web Hook may send you an email or Jabber message or log the changes to a custom log file format, whatever you implement.
</p>

<h2 id='faq'>FAQ</h2>
<div class='listblock'>
 <ul>

 <li class='q'>How often is a web page checked for changes?</li>
 <li class='a'>Currently each page is checked every 30 minutes.</li>

 <li class='q'>How many changes do you save per tracker?</li>
 <li class='a'>Every change which is detected gets saved. But to keep our database tidy each tracker's changes are kept only for 6 months.</li>

 <li class='q'>Is there a Firefox extension which notifies me when Trakkor has detected a change?</li>
 <li class='a'>
  There is no such Firefox extension but a <a href='#'>Ubiquity command</a>.
  Additionally each tracker provides a <a href='https://wiki.mozilla.org/Microsummaries'>Microsummary</a>, i.e. a live bookmark that changes its caption dynamically.
</li>

<li class='q'>Are the any tools that might help me find a fitting XPath if Trakkor doesn't cut it?</li>
<li class='a'>Finding an appropriate XPath that selects the desired element can be difficult: I suggest using either the <a href="https://addons.mozilla.org/en-US/firefox/addon/1192/" title='XPather Firefox addon'>XPather</a> or <a href="https://addons.mozilla.org/en-US/firefox/addon/1095/" title='XPath Checker Firefox addon'>XPath Checker</a> Firefox addons. Both allow you to right-click a page element and give you an XPath that describes it. But please bear in mind that some of the XPathes created by these tools (e.g. the id() function) are not understood by Trakkor's Hpricot library, see <a href='http://wiki.github.com/hpricot/hpricot/supported-xpath-expressions' title='XPath expressions supported by Trakkor'>Supported XPath Expressions</a> for details.</li>

 </ul>
</div> <!-- listblock !-->

<h2 id='thanks'>Thanks</h2>
<p>Trakkor uses several fine pieces of software which made development fun. I'd like to thank</p>
<div class='listblock'>
<ul>
  <li>Andrea Franz for his <a href='http://github.com/pilu/web-app-theme'>Web App Theme</a></li>
  <li>Logoinstant for their <a href='http://www.logoinstant.com/2008/12/good-waves/'>Good Waves icon</a></li>
  <li>why the lucky stiff for <a href='http://wiki.github.com/hpricot/hpricot/'>Hpricot</a></li>
  <li>Ryan McGeary for the <a href='http://timeago.yarp.com/'>jQuery timeago plugin</a></li>
  <li>Ryan Tomayko for <a href='http://rtomayko.github.com/rack-cache/'>Rack::Cache</a></li>
</ul>
</div> <!-- listblock !-->
