<h2>Step 3: Create the tracker</h2>

<%= error_messages_for :tracker %>

<div class="box">
<% form_for @tracker, :url => {:action => "create"} do |f| -%>


<label><span>URI</span>
<%= f.text_field 'uri', :size => 80, :class => 'input-text' %>
</label>

<label><span>XPath</span>
<%= f.text_field 'xpath', :size => 80, :class => 'input-text' %>
</label>

<label><span>Name</span>
<%= f.text_field 'name', :size => 80, :class => 'input-text' %>
</label>

<label><span>Web Hook URI</span>
<%= f.text_field 'web_hook', :size => 80, :class => 'input-text' %>
</label>


<div class="spacer">
 <%= f.submit 'Create' %>
</div>

<% end -%>

</div>






