<h1>New tracker</h1>

<%= error_messages_for :tracker %>

<% form_for @tracker, :url => {:action => "create"}, :html => {:class => 'cmxform'} do |f| -%>
<ul>
 <li><label for="uri">URI </label><%= f.text_field 'uri', :size => 80 %></li>
 <li><label for="xpath">XPath</label><%= f.text_field 'xpath', :size => 80 %> </li>

 <li><label for="name">Name </label><%= f.text_field 'name', :size => 80 %></li>
 <li><label for="web_hook">Web Hook URI</label><%= f.text_field 'web_hook', :size => 80 %> </li>

 <li><%= f.submit 'Create' %></li>
</ul>
<% end -%>


