<% html_title(@tracker.name) -%>


<h2 class='cozy'><%= @tracker.name %></h2>
<p id='created_on'>created on <%= @tracker.created_at.strftime('%d %b %Y') %></p>

<p>

This tracker fetches the document at <br />
  <a id='tracker_uri' href='<%= @tracker.uri %>'><%= @tracker.uri %></a> <br/>
and monitors the element at <br />
  <span id='tracker_xpath'><%= @tracker.xpath %></span>

</p>

<% if @tracker.sick? %>
  <p class='sick'>
    This tracker may be sick: Mendono failed to retrieve recent pieces. 
  </p>
<% end %>


<%= link_to 'Destroy', @tracker, :confirm => 'Are you sure?', :method => :delete %>



<% if @tracker.errs.length > 0 %>
<p>
<%= @tracker.errs.length %> pieces could not be used due to an error: 
<a class='errorchange' href='<%= "#{url_for @tracker}?errors=show" %>'>Show errors</a>
</p>
<% end %>

<h2>Changes</h2>
<table id='changetable'>
<% for change in @changes %>

  <tr>
    <th>

      <!-- like in http://microformats.org/wiki/datetime-design-pattern !-->
      <abbr class="change_datetime" title="<%= change.created_at.iso8601 %>">
         <%= time_ago_in_words(change.created_at) %> ago
      </abbr>

    </th>
  </tr>

<% if change.error %>
  <tr class='errorchange'>
    <td><span><%= h change.error %></span></td>
  </tr>
<% end %>

<% unless change.error %>
  <tr>
    <td class='piece'><pre><%= change.text %></pre></td>
  </tr>
<% end %>

<% end %>
</table>

