<% html_title(@tracker.name) -%>


<h2 class='cozy'><%= @tracker.name %></h2>
<p id='created_on'>created on <%= @tracker.created_at.strftime('%d %b %Y') %></p>

<p>

This tracker monitors the document at <br />
  <a id='uri_for_tracker' href='<%= h @tracker.uri %>'><%= h @tracker.uri %></a> <br/>
for changes to the element given by the XPath <br />
  <span id='xpath_for_tracker'><%= @tracker.xpath %></span>

</p>

<% if @tracker.sick? %>
  <p class='sick'>
    This tracker may be sick: Trakkor failed to retrieve recent pieces. 
  </p>
<% end %>

<% if @tracker.web_hook %>
  <p class='web_hook'>
    The Web Hook at 
      <span id='web_hook_for_tracker'><%= h @tracker.web_hook %></span>
    is notified on every change.
  </p>
<% else %>
  <p class='web_hook'>
    No <%= link_to "Web Hook", { :action => "web_hook" }%> has been defined for this tracker.
  </p>
<% end %>


<%= # link_to 'Destroy', @tracker, :confirm => 'Are you sure?', :method => :delete 
%>



<% if @tracker.errs.length > 0 %>
<p>
<strong>Note</strong>:
<%= @tracker.errs.length %> pieces could not be used due to an error: 
<a class='errorchange' href='<%= "#{url_for @tracker}?errors=show" %>'>Show errors</a>
</p>
<% end %>

<h2>Changes</h2>
<table id='changetable'>
<% for change in @changes %>

  <tr>
    <th>

      <!-- like in http://microformats.org/wiki/datetime-design-pattern !-->
      <abbr class="change_datetime" title="<%= change.created_at.iso8601 %>">
         <%= time_ago_in_words(change.created_at) %> ago
      </abbr>

    </th>
  </tr>

<% if change.error %>
  <tr class='errorchange'>
    <td><span><%= h change.error %></span></td>
  </tr>
<% end %>

<% unless change.error %>
  <tr>
    <td class='piece'><pre><%= change.text %></pre></td>
  </tr>
<% end %>

<% end %>
</table>

