<% html_title(@tracker.name) -%>


<h2><%= @tracker.name %></h2>

<p>

This tracker fetches the document at <br />
  <a id='tracker_uri' href='<%= @tracker.uri %>'><%= @tracker.uri %></a> <br/>
and monitors changes to the element at <br />
  <strong id='tracker_xpath'><%= @tracker.xpath %></strong>

</p>

<p>
md5sum: <%= @tracker.md5sum %>
</p>

<%= link_to 'Destroy', @tracker, :confirm => 'Are you sure?', :method => :delete %>
<h2>Stats</h2>
<p>
This tracker has been created on <%= @tracker.created_at %>, this was XXX days ago.
The last change was recognized 
<abbr class="foo" title="<%= @tracker.last_change.created_at.iso8601 %>">
 <%= relative_time(@tracker.last_change.created_at) %>
</abbr>

</p>

<p>
So far <%= @tracker.pieces_errorfree.length %> pieces have been fetched which comprise of <strong><%= bytes_to_human(@tracker.bytes_recorded) %></strong>.
Additionaly Moduri tried to fetch 
<%= @tracker.error_pieces.length %> pieces
which could not be used due to an error. 

<a class='errorchange' href='<%= "#{url_for @tracker}?errors=show" %>'>Display errors</a>
</p>

<h2>Changes</h2>
<table id='changetable'>
<% for change in @changes %>
<% div_for(change) do %>

  <tr>
    <th>
      <!-- like in http://microformats.org/wiki/datetime-design-pattern !-->
      <abbr class="foo" title="<%= change.created_at.iso8601 %>">
         <%= h relative_time(change.created_at) %>
      </abbr>
    </th>
  </tr>

<% if change.error %>
  <tr class='errorchange'>
    <td><span class='errorchange'><%= h change.error %></span></td>
  </tr>
<% end %>

  <tr>
    <td class='piece'><pre><%= change.text %></pre></td>
  </tr>

<% end %>
<% end %>
</table>

