
<ul>
  <li><a href='<%= @tracker.uri %>'><%= @tracker.uri %></a></li>
  <li><strong><%= @tracker.xpath %></strong></li>
  <li>created: <%= @tracker.created_at %></li>
  <li>last update detected at: <%= @tracker.last_update %></li>
  <li>last piece recorded at: <%= @tracker.last_piece %></li>
</ul>


<h2>Changes</h2>
<table>
<% for change in @tracker.pieces_dupefree %>
  <tr>
    <td>
      <!-- like in http://microformats.org/wiki/datetime-design-pattern !-->
      <abbr class="foo" title="<%= change.created_at.iso8601 %>">
         <%= h change.created_at %>
      </abbr>
    </td>

<% unless change.error.nil? %>
    <td class="error">
      <i><%= h change.error %></i>
    </td>
<% end %>

  </tr>
  <tr>
    <td>
      <%= h change.text_raw %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_tracker_path(@tracker) %> |
<%= link_to 'Back', trackers_path %>
