<% html_title(@tracker.name) -%>


<h2 class='cozy'><%= @tracker.name %></h2>
<p id='created_on'>created on <%= @tracker.created_at.strftime('%d %b %Y') %></p>

<p>

This tracker monitors the document at <br />
  <a id='uri_for_tracker' href='<%= h @tracker.uri %>'><%= h @tracker.uri %></a> <br/>
for changes to the element given by the XPath <br />
  <span id='xpath_for_tracker'><%= @tracker.xpath %></span>

</p>

<% if @tracker.sick? %>
  <div class="flash">
    <div class="message warning">
      <p>This tracker may be sick, Trakkor failed to retrieve recent pieces:
      <%= link_to_remote "Show errors", :url => { :action => 'recent_errors', :id => @tracker.md5sum} %>
      </p>
    </div>
  </div>
<% end %>

<% if @tracker.web_hook %>
  <p class='web_hook'>
    The Web Hook at
      <span id='web_hook_for_tracker'><%= h @tracker.web_hook %></span>
    gets notified on every change.
  </p>
<% else %>
  <p class='web_hook'>
    No Web Hook has been defined for this tracker.
  </p>
<% end %>


<h2>Changes</h2>
<table id='changetable'>
  <%= render :partial => "piece", :collection => @changes %>
</table>

