
<p>
Trakkor is currently running <%= @active_trackers %> trackers.
</p>

<p>
This statistics were created at <%= Time.now %> 
</p>

<h3>Newest trackers</h3>
<% if @newest_trackers %>
 <ul>
<% for t in @newest_trackers %>
    <li><%= link_to(t.name, t) %> - 
     <span class="reltime">
        <%= t.created_at %>
     </span>
     </li>
<% end %>
</ul>
<% else %>
  Huh, now new Trackers am start?
<% end %>

<h3>Sick trackers (<%= ( @sick_trackers || []).length %>)</h3>
<% if @sick_trackers %>
 <ul>
<% for t in @sick_trackers %>
    <li><%= link_to(t.name, t) %></li>
<% end %>
</ul>
<% else %>
  No tracker is sick at the moment.
<% end %>

<h3>Healthy trackers (<%= ( @healthy_trackers || []).length %>)</h3>
<% if @healthy_trackers %>
 <ul>
<% for t in @healthy_trackers %>
    <li><%= link_to(t.name, t) %></li>
<% end %>
</ul>
<% else %>
  No tracker is healthy at the moment.
<% end %>

<h3>Web Hooks (<%= ( @hook_trackers || []).length %>)</h3>
<% if @hook_trackers %>
 <ul>
<% for t in @hook_trackers %>
    <li><%= link_to(t.name, t) %> - <%= t.web_hook %></li>
<% end %>
</ul>
<% else %>
  No tracker has defined a web hook.
<% end %>


