<h2>Optional Step 2: Try a parent element</h2>

<%= error_messages_for :tracker %>


<div class="box">
<% form_tag( {:controller => 'trackers', :action => 'test_xpath'}, :method => :get ) do -%>


<label><span>URI</span>
<%= text_field_tag 'uri', @uri, :size => 80, :class => 'input-text' %>
</label>


<label><span>XPath</span>
<%= text_field_tag 'xpath', @xpath, :size => 80, :class => 'input-text' %> 
</label>

<div class="spacer">
 <%= submit_tag 'Refresh preview' %>
</div>

<% end -%>

</div>


<%- if @elem %>
<h2>Exact piece</h2>
<%= render :partial => "tracker_for_hit", :locals => { :hit => @elem } %>

<h2>Some parent pieces</h2>
<ol class='hitlist'>
<% for p in @parents %>
 <li> 
  <%= render :partial => "tracker_for_hit", :locals => { :hit => p } %>
 </li>
<% end %>

</ol>

<% end -%>


