<h2>Testing range</h2>

<ol>
<li>Use either XPath Checker or XPather to obtain an XPath for the desired element. If you're lucky this Moduri recognizes this XPath an yields the edsired text.</li>
<li>Use the brute force HTML diving method and locate the text with your browser's search funtion.</li>
<li>Use the trial and error approach until it works.</li>
</ol>


<% form_tag test_path, :method => :get, :class => 'cmxform' do -%>
<ul>
 <li><label for="name">URI </label><%= text_field_tag 'uri', @uri, :size => 80 %></li>
 <li><label for="xpath">XPath</label><%= text_field_tag 'xpath', @xpath, :size => 80 %> </li>

 <li><%= submit_tag 'Test again' %>
<% end -%>



<% form_tag new_path, :action => :new, :method => :get, :class => 'cmxform' do -%>

 <%= hidden_field_tag 'uri', @uri, :size => 80 %>
 <%= hidden_field_tag 'xpath', @xpath, :size => 80 %>

 <%= submit_tag 'Create tracker' %>
<% end -%>


</li>



</ul>


<p style="color: red"><%= flash[:error] %></p>
<p style="color: green"><%= flash[:notice] %></p>
<p style="color: yellow"><%= flash[:hint] %></p>

<%= error_messages_for :tracker %>

<h2>Piece HTML</h2>
line: <%= @found_in_line %>
<pre><%= h(@domnode_html) %>
</pre>

<h2>Full page HTML</h2>
<pre><%= @complete_html %>
</pre>

