<h1>Testing a tracker</h1>

<%= error_messages_for :tracker %>


<ul>
<li>uri: <%= @tracker.uri %></li>
<li>xpath: <%= @tracker.xpath %></li>
</ul>


<form>
   <label for="field1">URI:</label> <input id="uri" type="text" name="uri" /><br />
   <label for="field2">XPath:</label> <input id="xpath" type="text" name="xpath" /><br />
   <%= submit_to_remote 'button', 'Test XPath', :url => { :action =>  'ajax_get_piece' },
:update => { :success => "foobar", :failure => "foobar" }  -%>

</form>


<p id='foobar'>
huch
</p>


domnode_html: 
line: <%= @found_in_line %>
<pre><%= h(@domnode_html) %>
</pre>

domnode_text: 
<pre><%= h(@domnode_text) %>
</pre>

complete_html: 
<pre><%= h(@complete_html) %>
</pre>


<%= link_to 'Back', trackers_path %>
